pkgbase = ttf-impact
	pkgdesc = S
	pkgver = 1.0.0
	pkgrel = 1
	url = https://www.wfonts.com/font/impact
	arch = any
	license = unknown
	source = https://www.wfonts.com/download/data/2014/05/29/impact/impact.zip
	md5sums = 57f5d15f5e491895505613699abe2db6

pkgname = ttf-impact

