pkgbase = some-fonts
	pkgdesc = Some fonts
	pkgver = 2.0.0
	pkgrel = 1
	url = https://example.com/
	arch = any
	license = unknown
	depends = gnupg
	noextract = otf.tar
	noextract = ttf.tar
	source = otf.tar
	source = ttf.tar
	md5sums = b2d83480a1a33381cf3009293d90fb69
	md5sums = 02b21030eb6165ff66a77679c6a2fcef

pkgname = some-otf-fonts
	pkgdesc = Some otf fonts
	install = otf.install

pkgname = some-ttf-fonts
	pkgdesc = Some ttf fonts
	install = ttf.install

