pkgbase = hasher-bin
	pkgdesc = Library and cli tool for password hashing
	pkgver = 1.4.0
	pkgrel = 1
	url = https://salif.github.io/hasher
	arch = x86_64
	license = MIT
	source = https://github.com/salif/hasher/releases/download/v1.4.0/hasher-linux-x86_64.tar.zst
	md5sums = 1c583554196fbb24d53be5179170093d

pkgname = hasher-bin

