pkgbase = hasher-bin
	pkgdesc = Library and cli tool for password hashing
	pkgver = 1.0.0
	pkgrel = 1
	url = https://salif.github.io/hasher
	arch = x86_64
	license = MIT
	source = https://github.com/salif/hasher/releases/download/v1.0.0/hasher-linux-x86_64.tar.zst
	md5sums = 01839d5622f79b8c21ebd036e48568f1

pkgname = hasher-bin

