pkgbase = arch-pkgs-tools-git
	pkgdesc = arch-pkgs-tools
	pkgver = r7.6b0ff1f
	pkgrel = 1
	url = https://github.com/salif/arch-pkgs-tools
	install = arch-pkgs.install
	arch = any
	license = MIT
	makedepends = git
	depends = docker
	depends = gnupg
	provides = arch-pkgs-tools
	conflicts = arch-pkgs-tools
	source = arch-pkgs-tools::git+https://github.com/salif/arch-pkgs-tools
	md5sums = SKIP

pkgname = arch-pkgs-tools-git

